@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');

body {
  font-family: Poppins, Nunito, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #ff9076;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #ff9076;
  border: 1px solid #ff9076;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: #727070;
  font-weight: normal;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: #ff9076;
  }

  #mainNav .navbar-brand:hover {
    color: rgb(255 255 255 / 90%);
    /* color: #ff9076; */
  }

  #mainNav.navbar-shrink .navbar-brand:hover {
    color: #ff9076;
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: #ff9076;
  }
  #mainNav .nav-link:hover {
    color: rgb(255 255 255 / 75%);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #727070;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #727070;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #ff9076;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #ff9076;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #ff9076;
    outline: none;
    border-bottom: 0.25rem solid #ff9076;
  }
}






.capaPortfolio{
    position: relative;
}
.imgEfeitoPortfolio{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.imgEfeitoPortfolio:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #FFA08A;
}

.cor-text-idvisual{
    color: #FFA08A;
}

#video video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  
}
#pacotes{
    background-color: #fff;
}
.apresentacao{
    z-index: 2;
    margin:0 auto;
}
.text-cinza-1{
    color: #474747;
}
.text-cinza-2{
    color: #727070;
}
.text-cinza-3{
    color: #a3a3a3;
}
.text-size-16{
    font-size: 16px;
}
.text-size-14{
    font-size: 14px;
}
.text-size-12{
    font-size: 12px;
}
.text-size-10{
    font-size: 10px;
}

.destaque{
    font-weight: 700;
    color: #FFA08A;
}
.fundo-branco{
    background-color: #fff;
}
.pacote-arte{    
    padding: 1em;
}
.borda-circle-img{    
    border-radius: 50%;
    border-width: 0.3em;
    border-color: #ff9f8a80;
    border-style: solid;
}

.pacotes-section ul {
    list-style: none;
    padding-left: 1rem;    
}

.pacotes-section ul li::before {
    content: "\2022";
    color: #ff9076;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1.3em;
  }
.btn-compra{
    background-color: #ff9076;    
}
.btn-compra:hover{
    background-color: #FFA08A;
}

@media (max-width: 576px) {
    #imgApresentacao {
        width: 80%;
    }
    .borda-circle-img{    
        border-width: 0.1em;
    }
}

@media (min-width: 576px) {
   
    #imgApresentacao {
        width: 60%;
    }
}
@media (min-width: 768px) {
    #imgApresentacao {
        width: 50%;
    }
    
}
@media (min-width: 992px) {
    
    #imgApresentacao {
        width: 30%;
    }
    ::-webkit-scrollbar {
        width:10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }
 
}
@media (min-width: 1200px) {
    #imgApresentacao {
        width: 25%;
    }
}
@media (min-width: 1400px) {    
}