

.capaPortfolio{
    position: relative;
}

.imgEfeitoPortfolio{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.imgEfeitoPortfolio:hover{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.315);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

::-webkit-scrollbar-thumb {
    background: #FFA08A;
}

.cor-text-idvisual{
    color: #FFA08A;
}

#video video{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;  
}
#pacotes{
    background-color: #fff;
}
.apresentacao{
    z-index: 2;
    margin:0 auto;
}
.text-cinza-1{
    color: #474747;
}
.text-cinza-2{
    color: #727070;
}
.text-cinza-3{
    color: #a3a3a3;
}
.text-size-14{
    font-size: 14px;
}
.text-size-12{
    font-size: 12px;
}
.text-size-10{
    font-size: 10px;
}

.destaque{
    font-weight: 700;
    color: #FFA08A;
}
.fundo-branco{
    background-color: #fff;
}
.pacote-arte{    
    padding: 1em;
}
.borda-circle-img{    
    border-radius: 50%;
    border-width: 0.3em;
    border-color: #ff9f8a80;
    border-style: solid;
}

.pacotes-section ul {
    list-style: none;
    padding-left: 1rem;    
}

.pacotes-section ul li::before {
    content: "\2022";
    color: #ff9076;
    font-weight: bolder;
    display: inline-block; 
    width: 1em;
    margin-left: -1.3em;
  }
.btn-compra{
    background-color: #ff9076;    
}
.btn-compra:hover{
    background-color: #FFA08A;
}


@media (max-width: 576px) {
    #imgApresentacao {
        width: 80%;
    }
    .borda-circle-img{    
        border-width: 0.1em;
    }
}

@media (min-width: 576px) {
   
    #imgApresentacao {
        width: 70%;
    }
}
@media (min-width: 768px) {
    #imgApresentacao {
        width: 60%;
    }
    
}
@media (min-width: 992px) {
    
    #imgApresentacao {
        width: 40%;
    }
    ::-webkit-scrollbar {
        width:10px;
        height: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 2px;
    }
 
}
@media (min-width: 1200px) {
    #imgApresentacao {
        width: 30%;
    }
}
@media (min-width: 1400px) {    
}
